body {
	background-color: white;
}

.affix {
	position: static;
}

pre {
	max-height: 200px;
	overflow: auto;
}

h2 {
	margin-top: 60px;
}

h4 {
	font-weight: bold;
	margin: 30px 0 15px 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
	.affix {
		position: fixed;
	}
}