.affix {
	position: static;
}

pre {
	max-height: 200px;
	overflow: auto;
}

h2 {
	margin-top: 60px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
	.affix {
		position: fixed;
	}
}