<pre><code>
            &lt;!-- Nav tabs --&gt;
            &lt;ul class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a data-target=&quot;#tab1&quot; aria-controls=&quot;tab1&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
                &lt;li role=&quot;presentation&quot;&gt;&lt;a data-target=&quot;#tab2&quot; aria-controls=&quot;tab2&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Tab n&lt;/a&gt;&lt;/li&gt;
                &lt;li role=&quot;presentation&quot;&gt;&lt;a data-target=&quot;#tab3&quot; aria-controls=&quot;tab3&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot;&gt;Tab n&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;

            &lt;!-- Tab panes --&gt;
            &lt;div class=&quot;tab-content&quot;&gt;
                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane active&quot; id=&quot;tab1&quot;&gt;

                    &lt;p&gt;Content for Tab 1&lt;/p&gt;

                &lt;/div&gt;
                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane&quot; id=&quot;tab2&quot;&gt;
                    &lt;p&gt;Content for Tab n&lt;/p&gt;

                &lt;/div&gt;
                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane&quot; id=&quot;tab3&quot;&gt;
                    &lt;p&gt;Content for Tab n&lt;/p&gt;
                &lt;/div&gt;
                
            &lt;/div&gt;

</code>
        </pre>