<pre><code>&lt;table class=&quot;table table-responsive table-hover&quot; st-table=&quot;data.listItems&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;
                &lt;input cs-select-all=&quot;data.listItems&quot; type=&quot;checkbox&quot; /&gt;&lt;/th&gt;
            &lt;th st-sort=&quot;'column1'&quot;&gt;Heading 1&lt;/th&gt;
            &lt;th st-sort=&quot;'column2'&quot;&gt;Heading 2&lt;/th&gt;
            &lt;th st-sort=&quot;'column3'&quot;&gt;Heading 3&lt;/th&gt;
            &lt;th st-sort=&quot;'column4'&quot;&gt;Heading 4&lt;/th&gt;
            &lt;th&gt;&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr ng-repeat=&quot;listItem in data.listItems&quot;&gt;
            &lt;td&gt;
                &lt;input type=&quot;checkbox&quot; cs-select=&quot;listItem&quot; ng-model=&quot;listItem.isSelected&quot; /&gt;&lt;/td&gt;
            &lt;td&gt;{{listItem.column1}}&lt;/td&gt;
            &lt;td&gt;{{listItem.column2}}&lt;/td&gt;
            &lt;td&gt;{{listItem.column3}}&lt;/td&gt;
            &lt;td&gt;{{listItem.column4}}&lt;/td&gt;
            &lt;td class=&quot;text-right&quot;&gt;
                &lt;ul class=&quot;list-unstyled list-inline list-nomargin&quot;&gt;
                    &lt;li&gt;
                        &lt;a data-placement=&quot;left&quot; data-toggle=&quot;popover&quot; title=&quot;Tooltip for {{listItem.name}}&quot; data-html=&quot;true&quot;&gt;
                            &lt;i class=&quot;fa fa-eye&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                        &lt;div class=&quot;popover-content hidden&quot;&gt;
                            &lt;dl class=&quot;dl-horizontal&quot;&gt;
                                &lt;dt&gt;Key&lt;/dt&gt;
                                &lt;dd&gt;Value&lt;/dd&gt;
                                &lt;dt&gt;Key&lt;/dt&gt;
                                &lt;dd&gt;Value&lt;/dd&gt;
                                &lt;dt&gt;Key&lt;/dt&gt;
                                &lt;dd&gt;Value&lt;/dd&gt;
                                &lt;dt&gt;Key&lt;/dt&gt;
                                &lt;dd&gt;Value&lt;/dd&gt;
                                &lt;dt&gt;Key&lt;/dt&gt;
                                &lt;dd&gt;Value&lt;/dd&gt;
                                &lt;dt&gt;Key&lt;/dt&gt;
                                &lt;dd&gt;Value&lt;/dd&gt;
                            &lt;/dl&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li&gt;&lt;a data-toggle=&quot;modal&quot; data-target=&quot;#editModal&quot;&gt;&lt;i class=&quot;fa fa-edit&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a data-toggle=&quot;modal&quot; data-target=&quot;#confirmationModal&quot;&gt;&lt;i class=&quot;fa fa-trash&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                    &lt;li&gt;
                        &lt;div class=&quot;dropdown&quot;&gt;
                            &lt;span class=&quot;dropdown-toggle&quot; id=&quot;Button1&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;true&quot;&gt;
                                &lt;span&gt;Item Actions&lt;/span&gt;
                                &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                            &lt;/span&gt;
                            &lt;ul class=&quot;dropdown-menu&quot;&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;

                &lt;/ul&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;

&lt;!-- Delete confirmation Modal --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;confirmationModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;confirmationModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                &lt;h4 class=&quot;modal-title&quot; id=&quot;confirmationModalLabel&quot;&gt;Delete Confirmation&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;p&gt;Confirmation Text Here&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;No&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-dismiss=&quot;modal&quot;&gt;Yes&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Edit  Modal --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;editModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;editModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                &lt;h4 class=&quot;modal-title&quot; id=&quot;editModalLabel&quot;&gt;Edit Item&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;p&gt;Edit Form Here&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-dismiss=&quot;modal&quot;&gt;Save&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;


</code>
        </pre>