<pre><code>
            &lt;div class=&quot;well well-sm&quot;&gt;
                &lt;form class=&quot;form-inline clearfix&quot;&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Search&quot;&gt;
                            &lt;span class=&quot;input-group-btn&quot;&gt;
                                &lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                &lt;/form&gt;
            &lt;/div&gt;    
</code>
        </pre>