<pre><code>&lt;div class=&quot;well well-sm&quot;&gt;
  &lt;form class=&quot;form-inline clearfix&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#componentFilter&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;componentFilter&quot;&gt;&lt;i class=&quot;fa fa-filter&quot;&gt;&lt;/i&gt;Filter&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group pull-right&quot;&gt;
      &lt;div class=&quot;dropdown pull-right&quot;&gt;
        &lt;button class=&quot;btn btn-default dropdown-toggle&quot; type=&quot;button&quot; id=&quot;dropdownMenu1&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;true&quot;&gt;Page Actions
          &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
        &lt;/button&gt;
        &lt;ul class=&quot;dropdown-menu&quot; aria-labelledby=&quot;dropdownMenu1&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/form&gt;
&lt;/div&gt;

&lt;form id=&quot;componentFilter&quot; class=&quot;collapse&quot;&gt;
  &lt;div class=&quot;well form-horizontal&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;sampleInput1&quot; class=&quot;col-sm-4 control-label text-left&quot;&gt;Field 1&lt;/label&gt;
          &lt;div class=&quot;col-sm-8&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;sampleInput1&quot; placeholder=&quot;Filter Value&quot; 
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;sampleInput2&quot; class=&quot;col-sm-4 control-label text-left&quot;&gt;Field 2&lt;/label&gt;
          &lt;div class=&quot;col-sm-8&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;sampleInput2&quot; placeholder=&quot;Filter Value&quot; 
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-xs-12&quot;&gt;
        &lt;ul class=&quot;list-unstyled list-inline text-right&quot;&gt;
          &lt;li&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#componentFilter&quot;&gt;Close&lt;/button&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; &gt;Clear Filters&lt;/button&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#componentFilter&quot; &gt;Apply Filters&lt;/button&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
&lt;div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-12&quot;&gt;
    &lt;ul class=&quot;list-unstyled list-inline&quot;&gt;
      &lt;li&gt;
        &lt;label&gt;Filters &lt;/label&gt;
      &lt;/li&gt;
      &lt;li &gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-xs btn-primary&quot; &gt;{{filter.filterValue}}&amp;nbsp;&lt;i class=&quot;fa fa-times-circle&quot;&gt;&lt;/i&gt;&lt;/button&gt;&lt;/li&gt;
      &lt;li&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-link btn-xs&quot; &gt;Clear Filters&lt;/button&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;horizontal-divider&quot;&gt;&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
</code>
        </pre>