<pre><code> &lt;a data-placement=&quot;left&quot; data-toggle=&quot;popover&quot; title=&quot;Quick View&quot; data-html=&quot;true&quot;&gt;
    &lt;i class=&quot;fa fa-eye&quot;&gt;&lt;/i&gt; &lt;span&gt;Quick View&lt;/span&gt;
&lt;/a&gt;
&lt;div class=&quot;popover-content hidden&quot;&gt;
    &lt;dl class=&quot;dl-horizontal&quot;&gt;
        &lt;dt&gt;Key&lt;/dt&gt;
        &lt;dd&gt;Value&lt;/dd&gt;
        &lt;dt&gt;Key&lt;/dt&gt;
        &lt;dd&gt;Value&lt;/dd&gt;
        &lt;dt&gt;Key&lt;/dt&gt;
        &lt;dd&gt;Value&lt;/dd&gt;
        &lt;dt&gt;Key&lt;/dt&gt;
        &lt;dd&gt;Value&lt;/dd&gt;
        &lt;dt&gt;Key&lt;/dt&gt;
        &lt;dd&gt;Value&lt;/dd&gt;
        &lt;dt&gt;Key&lt;/dt&gt;
        &lt;dd&gt;Value&lt;/dd&gt;
    &lt;/dl&gt;
&lt;/div&gt;

</code>
        </pre>