<pre><code>            &lt;div class=&quot;well well-list-item&quot;&gt;
                &lt;p&gt;Line 1&lt;/p&gt;
                &lt;p&gt;Line 2&lt;/p&gt;
                &lt;p&gt;Line 3&lt;/p&gt;
                &lt;p&gt;Line 4&lt;/p&gt;
                &lt;p&gt;Line 5&lt;/p&gt;
                &lt;p&gt;Line 6&lt;/p&gt;
                &lt;div class=&quot;vertical-divider&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;fa fa-angle-right fa-2x&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
</code>
        </pre>