<pre><code>            &lt;dl class=&quot;dl-horizontal&quot;&gt;
                &lt;dt&gt;Key&lt;/dt&gt;
                &lt;dd&gt;Value&lt;/dd&gt;
                &lt;dt class=&quot;border-bottom&quot;&gt;&lt;/dt&gt;&lt;dd class=&quot;border-bottom&quot;&gt;&lt;/dd&gt;
                &lt;dt&gt;Really Long Key&lt;/dt&gt;
                &lt;dd&gt;Really Long Value&lt;/dd&gt;
                &lt;dt class=&quot;border-bottom&quot;&gt;&lt;/dt&gt;&lt;dd class=&quot;border-bottom&quot;&gt;&lt;/dd&gt;
                &lt;dt&gt;Key&lt;/dt&gt;
                &lt;dd&gt;Value&lt;/dd&gt;
                &lt;dt class=&quot;border-bottom&quot;&gt;&lt;/dt&gt;&lt;dd class=&quot;border-bottom&quot;&gt;&lt;/dd&gt;
                &lt;dt&gt;Key&lt;/dt&gt;
                &lt;dd&gt;Value&lt;/dd&gt;
                &lt;dt class=&quot;border-bottom&quot;&gt;&lt;/dt&gt;&lt;dd class=&quot;border-bottom&quot;&gt;&lt;/dd&gt;
                &lt;dt&gt;Key&lt;/dt&gt;
                &lt;dd&gt;Value&lt;/dd&gt;
                &lt;dt class=&quot;border-bottom&quot;&gt;&lt;/dt&gt;&lt;dd class=&quot;border-bottom&quot;&gt;&lt;/dd&gt;
                &lt;dt&gt;Key&lt;/dt&gt;
                &lt;dd&gt;Value&lt;/dd&gt;
                &lt;dt class=&quot;border-bottom&quot;&gt;&lt;/dt&gt;&lt;dd class=&quot;border-bottom&quot;&gt;&lt;/dd&gt;
            &lt;/dl&gt;
</code>
        </pre>