<pre><code>            &lt;div class=&quot;alert alert-success alert-dismissible fade in&quot; role=&quot;alert&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;&lt;/button&gt;&lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;&lt;span&gt;The service was successfully edited.&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class=&quot;alert alert-info alert-dismissible fade in&quot; role=&quot;alert&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;&lt;/button&gt;&lt;i class=&quot;fa fa-info-circle&quot;&gt;&lt;/i&gt;&lt;span&gt;The service is in-progress.&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class=&quot;alert alert-warning alert-dismissible fade in&quot; role=&quot;alert&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;&lt;/button&gt;&lt;i class=&quot;fa fa-warning&quot;&gt;&lt;/i&gt;&lt;span&gt;A service warning has occurred.&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class=&quot;alert alert-danger alert-dismissible fade in&quot; role=&quot;alert&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;&lt;/button&gt;&lt;i class=&quot;fa fa-close&quot;&gt;&lt;/i&gt;&lt;span&gt;A service error has occurred.&lt;/span&gt;
            &lt;/div&gt;

</code>
        </pre>