<div class="row">
	<div class="col-md-2">
		<ul class="list-unstyled" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
			<li>Page Action Bar</li>
			<li>List</li>
			<li>Table</li>
			<li>Filter</li>
			<li>Search</li>
			<li>Breadcrumb</li>
			<li>Header</li>
			<li>Footer</li>
		</ul>
	</div>
	<div class="col-md-10">
		<h1>Components</h1>
		<p>Components are a collection of elements that represent a user interface task. Use multiple components to build out a page.</p>
		<p>If you feel the provided components do not offer the support you are looking for, please <a href="mailto:">send feedback</a> so the current set of components can be addressed.</p>
		
		<!-- Page Action Bar -->
		<h2>Page Action Bar</h2>
		<p>The page action bar contains page level actions that affect all items on the page. By default the page action bar allows a user to sort by, search, filter and perform actions as they relate to the content.</p>
		<h4>Example</h4>
		<pre>
			<code>Code Sample Here</code>
		</pre>

		<!-- List -->
		<h2>Expanded List</h2>
		<p>The expanded list component should be used to display data that should be shown in a list. You should consider using the expanded list component if there are several fields in the database that need to be displayed. This component allows for a lot of information to be shown while keeping the screen clean and readible.</p>
		<h4>Example</h4>
		<pre>
			<code>Code Sample Here</code>
		</pre>

		<!-- Table -->
		<h2>Basic Table</h2>
		<p>The basic table component should be used to display tabular data. Avoid using the basic table component if the fields to be displayed are more than 7. If the fields to be displayed is greater than 7, consider using the <a href="">expanded list</a> component.</p>
		<h4>Example</h4>
		<pre>
			<code>Code Sample Here</code>
		</pre>

		<!-- Filter -->
		<h2>Filter</h2>
		<p>The filter component should be used when a large dataset is returned and it would be reasonable that a user would want to filter out data to get exactly what they are looking for. The filter should be triggered in the page action bar component with the filter window being displayed below the page action bar.</p>
		<h4>Example</h4>
		<pre>
			<code>Code Sample Here</code>
		</pre>

		<!-- Search -->
		<h2>Search</h2>
		<p>The search component should be used when a large dataset is returned and it would be reasonable that a user would want to search to get exactly what they are looking for. The search should be housed in the page action bar component.</p>
		<h4>Example</h4>
		<pre>
			<code>Code Sample Here</code>
		</pre>
	</div>
</div>