<div class="row" ng-controller="ComponentsController">
    <div class="col-md-2">
        <div class="well affix">
            <ul class="list-unstyled">
                <li><a ng-click="scrollTo('pageactionbar')">Page Action Bar</a></li>
                <li><a ng-click="scrollTo('list')">List</a></li>
                <li><a ng-click="scrollTo('table')">Table</a></li>
                <li><a ng-click="scrollTo('filter')">Filter</a></li>
                <li><a ng-click="scrollTo('search')">Search</a></li>
                <li><a ng-click="scrollTo('breadcrumb')">Breadcrumb</a></li>
                <li><a ng-click="scrollTo('header')">Header</a></li>
                <li><a ng-click="scrollTo('footer')">Footer</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <h1>Components</h1>
        <p>Components are a collection of elements that represent a user interface task. Use multiple components to build out a page.</p>
        <p>If you feel the provided components do not offer the support you are looking for, please <a href="mailto:">send feedback</a> so the current set of components can be addressed.</p>

        <!-- Page Action Bar -->
        <h2 id="pageactionbar">Page Action Bar</h2>
        <p>The page action bar contains page level actions that affect all items on the page. By default the page action bar allows a user to sort by, search, filter and perform actions as they relate to the content.</p>
        <h4>Example</h4>

        <div>
            <div class="well well-sm">
                <form class="form-inline clearfix">

                    <div class="form-group">
                        <label class="control-label" for="optionList">Sort By</label>
                    </div>

                    <div class="form-group">
                        <div class="dropdown" id="optionList">
                            <button class="btn btn-default dropdown-toggle" type="button" id="Button3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Option 1 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Option 1</a></li>
                                <li><a href="#">Option 2</a></li>
                                <li><a href="#">Option 3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#sectionFilter" aria-expanded="false" aria-controls="sectionFilter"><i class="fa fa-filter"></i>Filter</button>
                    </div>


                    <div class="form-group pull-right">

                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Page Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
            <form id="sectionFilter" class="collapse">
                <div class="well form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sampleInput1" class="col-sm-4 control-label text-left">Field 1</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="sampleInput1" placeholder="Filter Value" ng-model="data.filter1">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sampleInput2" class="col-sm-4 control-label text-left">Field 2</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="sampleInput2" placeholder="Filter Value" ng-model="data.filter2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="list-unstyled list-inline text-right">
                                <li>
                                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#sectionFilter">Close</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default" ng-click="actions.clearFilters()">Clear Filters</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#sectionFilter" ng-click="actions.updateFilter()">Apply Filters</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-if="data.filterItems.length > 0">

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <label>Filters </label>
                            </li>
                            <li ng-repeat="filter in data.filterItems">
                                <button type="button" class="btn btn-xs btn-primary" ng-click="actions.removeFilter(filter)">{{filter.filterValue}}&nbsp;<i class="fa fa-times-circle"></i></button></li>
                            <li>
                                <button type="button" class="btn btn-link btn-xs" ng-click="actions.clearFilters()">Clear Filters</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="horizontal-divider"></div>
                <br />
            </div>
        </div>
        <h4>Code Example</h4>
        <pre><code>&lt;div class=&quot;well well-sm&quot;&gt;
                &lt;form class=&quot;form-inline clearfix&quot;&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label class=&quot;control-label&quot; for=&quot;optionList&quot;&gt;Sort By&lt;/label&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;div class=&quot;dropdown&quot; id=&quot;optionList&quot;&gt;
                            &lt;button class=&quot;btn btn-default dropdown-toggle&quot; type=&quot;button&quot; id=&quot;Button3&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;true&quot;&gt;
                                Option 1 
                                &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                            &lt;/button&gt;
                            &lt;ul class=&quot;dropdown-menu&quot; aria-labelledby=&quot;dropdownMenu1&quot;&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Option 1&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Option 2&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Option 3&lt;/a&gt;&lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Search&quot;&gt;
                            &lt;span class=&quot;input-group-btn&quot;&gt;
                                &lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#sectionFilter&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;sectionFilter&quot;&gt;&lt;i class=&quot;fa fa-filter&quot;&gt;&lt;/i&gt;Filter&lt;/button&gt;
                    &lt;/div&gt;


                    &lt;div class=&quot;form-group pull-right&quot;&gt;

                        &lt;div class=&quot;dropdown pull-right&quot;&gt;
                            &lt;button class=&quot;btn btn-default dropdown-toggle&quot; type=&quot;button&quot; id=&quot;dropdownMenu1&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;true&quot;&gt;
                                Page Actions
                                &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                            &lt;/button&gt;
                            &lt;ul class=&quot;dropdown-menu&quot; aria-labelledby=&quot;dropdownMenu1&quot;&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                &lt;/form&gt;
            &lt;/div&gt;

            &lt;form id=&quot;sectionFilter&quot; class=&quot;collapse&quot;&gt;
                &lt;div class=&quot;well form-horizontal&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-sm-6&quot;&gt;
                            &lt;div class=&quot;form-group&quot;&gt;
                                &lt;label for=&quot;sampleInput1&quot; class=&quot;col-sm-4 control-label text-left&quot;&gt;Field 1&lt;/label&gt;
                                &lt;div class=&quot;col-sm-8&quot;&gt;
                                    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;sampleInput1&quot; placeholder=&quot;Filter Value&quot; ng-model=&quot;data.filter1&quot;&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-sm-6&quot;&gt;
                            &lt;div class=&quot;form-group&quot;&gt;
                                &lt;label for=&quot;sampleInput2&quot; class=&quot;col-sm-4 control-label text-left&quot;&gt;Field 2&lt;/label&gt;
                                &lt;div class=&quot;col-sm-8&quot;&gt;
                                    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;sampleInput2&quot; placeholder=&quot;Filter Value&quot; ng-model=&quot;data.filter2&quot;&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12&quot;&gt;
                            &lt;ul class=&quot;list-unstyled list-inline text-right&quot;&gt;
                                &lt;li&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#sectionFilter&quot;&gt;Close&lt;/button&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; ng-click=&quot;actions.clearFilters()&quot;&gt;Clear Filters&lt;/button&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#sectionFilter&quot; ng-click=&quot;actions.updateFilter()&quot;&gt;Apply Filters&lt;/button&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/form&gt;
            &lt;div ng-if=&quot;data.filterItems.length &gt; 0&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-12&quot;&gt;
                        &lt;ul class=&quot;list-unstyled list-inline&quot;&gt;
                            &lt;li&gt;
                                &lt;label&gt;Filters &lt;/label&gt;
                            &lt;/li&gt;
                            &lt;li ng-repeat=&quot;filter in data.filterItems&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-xs btn-primary&quot; ng-click=&quot;actions.removeFilter(filter)&quot;&gt;{{filter.filterValue}}&amp;nbsp;&lt;i class=&quot;fa fa-times-circle&quot;&gt;&lt;/i&gt;&lt;/button&gt;&lt;/li&gt;
                            &lt;li&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-link btn-xs&quot; ng-click=&quot;actions.clearFilters()&quot;&gt;Clear Filters&lt;/button&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;horizontal-divider&quot;&gt;&lt;/div&gt;
                &lt;br /&gt;
            &lt;/div&gt;
</code>
		</pre>

        <!-- List -->
        <h2 id="list">Expanded List</h2>
        <p>The expanded list component should be used to display data that should be shown in a list. You should consider using the expanded list component if there are several fields in the database that need to be displayed. This component allows for a lot of information to be shown while keeping the screen clean and readible.</p>
        <h4>Example</h4>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <span>
                        <input type="checkbox" ng-model="data.checkAll" value="" />&nbsp;Select All</span>
                </div>
            </div>
            <div ng-repeat="listItem in data.listItems">

                <div class="row">
                    <div class="col-xs-1">
                        <h3>
                            <input type="checkbox" value="" ng-model="listItem.selected" />
                        </h3>
                    </div>
                    <div class="col-xs-11">
                        <!--List Item-->
                        <div>
                            <h3>List Title {{$index + 1}}</h3>
                            <span><strong>List Item Info {{$index + 1}}</strong></span> <span>List Item Status</span>
                            <p class="small">List Item Description</p>

                            <ul class="list-unstyled list-inline">
                                <li class="row">
                                    <button id="btnCollapseListItem{{$index + 1}}" class="btn btn-link text-primary collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseExample{{$index + 1}}" aria-expanded="false" aria-controls="collapseExample{{$index + 1}}">
                                        <span class="collapsed-hide"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>&nbsp;<span>Show Less</span></span>
                                        <span class="collapsed-show"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp;<span>Show More</span></span>
                                    </button>
                                </li>
                                <li class="pull-right">
                                    <div class="dropdown pull-right">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="btnItemActions{{$index + 1}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span>Item Actions</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pull-right hidden-xs"><a class="btn btn-link">Action 3</a></li>
                                <li class="pull-right hidden-xs"><a class="btn btn-link">Action 2</a></li>
                                <li class="pull-right hidden-xs"><a class="btn btn-link">Action 1</a></li>
                            </ul>

                            <br />

                            <div id="collapseExample{{$index + 1}}" class="collapse">
                                <div class="well">
                                    <div class="row vertical-divider">
                                        <div class="col-sm-4">
                                            <dl class="dl-horizontal">
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                            </dl>
                                        </div>
                                        <div class="col-sm-4">
                                            <dl class="dl-horizontal">
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                            </dl>
                                        </div>
                                        <div class="col-sm-4">
                                            <dl class="dl-horizontal">
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                                <dt>Key</dt>
                                                <dd>Value</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal-divider"></div>

            </div>

        </div>
        <h4>Code Sample</h4>
        <pre><code>&lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-xs-12&quot;&gt;
                    &lt;span&gt;
                        &lt;input type=&quot;checkbox&quot; ng-model=&quot;data.checkAll&quot; value=&quot;&quot; /&gt;&amp;nbsp;Select All&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div ng-repeat=&quot;listItem in data.listItems&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-1&quot;&gt;
                        &lt;h3&gt;
                            &lt;input type=&quot;checkbox&quot; value=&quot;&quot; ng-model=&quot;listItem.selected&quot; /&gt;
                        &lt;/h3&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-xs-11&quot;&gt;
                        &lt;!--List Item--&gt;
                        &lt;div&gt;
                            &lt;h3&gt;List Title {{$index + 1}}&lt;/h3&gt;
                            &lt;span&gt;&lt;strong&gt;List Item Info {{$index + 1}}&lt;/strong&gt;&lt;/span&gt; &lt;span&gt;List Item Status&lt;/span&gt;
                            &lt;p class=&quot;small&quot;&gt;List Item Description&lt;/p&gt;

                            &lt;ul class=&quot;list-unstyled list-inline&quot;&gt;
                                &lt;li class=&quot;row&quot;&gt;
                                    &lt;button id=&quot;btnCollapseListItem{{$index + 1}}&quot; class=&quot;btn btn-link text-primary collapsed text-left&quot; type=&quot;button&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseExample{{$index + 1}}&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseExample{{$index + 1}}&quot;&gt;
                                        &lt;span class=&quot;collapsed-hide&quot;&gt;&lt;i class=&quot;fa fa-chevron-circle-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&amp;nbsp;&lt;span&gt;Show Less&lt;/span&gt;&lt;/span&gt;
                                        &lt;span class=&quot;collapsed-show&quot;&gt;&lt;i class=&quot;fa fa-chevron-circle-right&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&amp;nbsp;&lt;span&gt;Show More&lt;/span&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;pull-right&quot;&gt;
                                    &lt;div class=&quot;dropdown pull-right&quot;&gt;
                                        &lt;button class=&quot;btn btn-default dropdown-toggle&quot; type=&quot;button&quot; id=&quot;btnItemActions{{$index + 1}}&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;true&quot;&gt;
                                            &lt;span&gt;Item Actions&lt;/span&gt;
                                            &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                        &lt;ul class=&quot;dropdown-menu&quot;&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Separated link&lt;/a&gt;&lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;pull-right hidden-xs&quot;&gt;&lt;a class=&quot;btn btn-link&quot;&gt;Action 3&lt;/a&gt;&lt;/li&gt;
                                &lt;li class=&quot;pull-right hidden-xs&quot;&gt;&lt;a class=&quot;btn btn-link&quot;&gt;Action 2&lt;/a&gt;&lt;/li&gt;
                                &lt;li class=&quot;pull-right hidden-xs&quot;&gt;&lt;a class=&quot;btn btn-link&quot;&gt;Action 1&lt;/a&gt;&lt;/li&gt;
                            &lt;/ul&gt;

                            &lt;br /&gt;

                            &lt;div id=&quot;collapseExample{{$index + 1}}&quot; class=&quot;collapse&quot;&gt;
                                &lt;div class=&quot;well&quot;&gt;
                                    &lt;div class=&quot;row vertical-divider&quot;&gt;
                                        &lt;div class=&quot;col-sm-4&quot;&gt;
                                            &lt;dl class=&quot;dl-horizontal&quot;&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col-sm-4&quot;&gt;
                                            &lt;dl class=&quot;dl-horizontal&quot;&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col-sm-4&quot;&gt;
                                            &lt;dl class=&quot;dl-horizontal&quot;&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                                &lt;dt&gt;Key&lt;/dt&gt;
                                                &lt;dd&gt;Value&lt;/dd&gt;
                                            &lt;/dl&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;horizontal-divider&quot;&gt;&lt;/div&gt;

            &lt;/div&gt;
</code>
		</pre>

        <!-- Table -->
        <h2>Basic Table</h2>
        <p>The basic table component should be used to display tabular data. Avoid using the basic table component if the fields to be displayed are more than 7. If the fields to be displayed is greater than 7, consider using the <a href="">expanded list</a> component.</p>
        <h4>Example</h4>
        <pre><code>Code Sample Here</code>
		</pre>

        <!-- Filter -->
        <h2>Filter</h2>
        <p>The filter component should be used when a large dataset is returned and it would be reasonable that a user would want to filter out data to get exactly what they are looking for. The filter should be triggered in the page action bar component with the filter window being displayed below the page action bar.</p>
        <h4>Example</h4>
        <pre><code>Code Sample Here</code>
		</pre>

        <!-- Search -->
        <h2>Search</h2>
        <p>The search component should be used when a large dataset is returned and it would be reasonable that a user would want to search to get exactly what they are looking for. The search should be housed in the page action bar component.</p>
        <h4>Example</h4>
        <pre><code>Code Sample Here</code>
		</pre>
    </div>
</div>
