<div class="jumbotron">
	<h1>Gravitant UI Framework</h1>
	<p>Ensuring Gravitant's products are consistent throughout.</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="row">
	<div class="col-md-12">
		<p>The Gravitant UI Framework was created to ensure there is a consistent user experience throughout all of Gravitant's products. Use this framework to copy and paste code snippets to speed up the development process.</p>
		<p>In order to leverage the framework please include the following code on your page:</p>
		<pre>
			<code>Code snippets here</code>
		</pre>
		<p>This framework is a living document. Please feel free to offer feedback to make this framework better and easier to work with.</p>
	</div>
</div>