<div class="row">
	<div class="col-md-2">
 <div class="affix">
            <ul class="list-unstyled">
                <li><a ng-click="scrollTo('basic')">Basic Page</a></li>
            </ul>
        </div>
	</div>
	<div class="col-md-10">
		<h1>Templates</h1>
		<p>Templates are a way to quickly get a page type up and running with minimal effort. Utilizing a template will ensure that Gravitant UX style guidelines are met with minimal development effort required</p>
		<p>If you feel the provided templates do not offer the support you are looking for, please <a href="mailto:">send feedback</a> so the current set of templates can be addressed.</p>
		<h2 id="basic">Basic Page</h2>
		<p>This template provides the basics to get a page started. It includes a header, footer and page action bar. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>
	</div>
</div>