<div class="row">
	<div class="col-md-2">
 <div class="affix">
            <ul class="list-unstyled">
                <li><a ng-click="scrollTo('basic')">Basic Page</a></li>
                <li><a ng-click="scrollTo('expanded-list')">Expanded List Page</a></li>
                <li><a ng-click="scrollTo('table')">Basic Table Page</a></li>
                <li><a ng-click="scrollTo('details')">Details Page</a></li>
                <li><a ng-click="scrollTo('empty')">Empty Table/List Page</a></li>
                <li><a ng-click="scrollTo('login')">Login</a></li>
                <li><a ng-click="scrollTo('tabs')">Tabs Page</a></li>

            </ul>
        </div>
	</div>
	<div class="col-md-10">
		<h1>Templates</h1>
		<p>Templates are a way to quickly get a page type up and running with minimal effort. Utilizing a template will ensure that Gravitant UX style guidelines are met with minimal development effort required</p>
		<p>If you feel the provided templates do not offer the support you are looking for, please <a href="mailto:">send feedback</a> so the current set of templates can be addressed.</p>
		<h2 id="basic">Basic Page</h2>
		<p>This template provides the basics to get a page started. It includes a header, footer and page action bar. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<p><a href="" target="blank">View Basic Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>

		<h2 id="expanded-list">Expanded List Page</h2>
		<p>This template provides the framework for an expanded list page. It includes a header, footer, page action bar and layout for the list. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<h4>Usage</h4>
		<p>Use the expanded list page when large amounts of data need to be shown. If the data to be displayed would take up 7 or more columns in a table, strongly consider using the expanded list page. The actions exposed should be frequent actions and must not exceed three. All other actions must be placed in the 'More Actions' drop down.</p>
		<p><a href="templates/expanded-list.html" target="blank">View Expanded List Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>

		<h2 id="table">Basic Table Page</h2>
		<p>This template provides the framework for a basic table. It includes a header, footer, page action bar and layout for the list. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<h4>Usage</h4>
		<p>Use the basic table page when small amounts of comparative data need to be shown. If the data to be displayed would take up 7 or more columns in a table, strongly consider using the expanded list page. A table with 7 or more columns makes it difficult for the user to consume the data displayed.</p>
		<p>To handle excessive columns leverage the Quick View feature of the table. The Quick View feature will allow a user to see extra column data without having to view a details page.</p>
		<p><a href="templates/table.html" target="blank">View Basic Table Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>

		<h2 id="details">Details Page</h2>
		<p>This template provides the framework for a basic table. It includes a header, footer, page action bar and layout for the list. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<h4>Usage</h4>
		<p>Use the details page to display all of the information about an item. The information displayed should be categorized in a manner that allows users to easily discern the information.</p>
		<p><a href="templates/details.html" target="blank">View Details Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>

		<h2 id="empty">Empty Table/List Page</h2>
		<p>This template provides the framework for a basic table. It includes a header, footer, page action bar and layout for the list. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<h4>Usage</h4>
		<p>Use the empty table/list page when there are no items to show. This template will allow the user to add a new item.</p>
		<p><a href="templates/empty.html" target="blank">View Empty Table/List Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>

		<h2 id="login">Login Page</h2>
		<p>This template provides the framework for a basic table. It includes a header, footer, page action bar and layout for the list. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<p><a href="templates/login.html" target="blank">View Login Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>

		<h2 id="tabs">Tabs Page</h2>
		<p>This template provides the framework for a basic table. It includes a header, footer, page action bar and layout for the list. Place your custom content in the space provided to ensure compliance with the Gravitant UX guidelines.</p>
		<p><a href="templates/tabs.html" target="blank">View Tabs Page</a></p>
		<h4>Section Example</h4>
		<pre><code>Code Sample Here</code>
		</pre>
	</div>
</div>